html, body {
    margin: 0;
    padding: 0;
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calculation-form {
    margin-top: 200px;
}

.input-field {
    display: flex;
    flex-direction: column;
}

label {
    color: #666;
    font-size: 2rem;
    margin:0.5rem 0;
}